﻿@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <a asp-action="UpdateWatchConfig">Update watch config</a>
        <br />
        <a asp-action="UpdateEventSequenceConfig">Update event sequence factory config</a>
        <br />
    </div>
