﻿@model Dictionary<string, EventBus.Events.ServiceState.State>
Status page
<a asp-action="RequestState">Update</a>
@{
    if (Model != null)
    {
        foreach (var state in Model)
        {
            <div>@state.Key: @state.Value</div>
            <br />
        }
    }
}