﻿@model Common.Configuration.WatchConfiguration

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<h4>WatchConfiguration</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="View">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                @Html.LabelFor(m => m.PathsToListen);
                @Html.TextAreaFor(m => m.PathsToListen);
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Rules);
                @Html.TextAreaFor(m => m.Rules);
            </div>

            <div class="form-group">
                <input type="submit" value="UpdateWatchConfig" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
