﻿@model EventBus.Configuration.EventSequenceFactoryConfiguration

@{
    ViewData["Title"] = "UpdateEventSequenceConfig";
}

<h1>UpdateEventSequenceConfig</h1>

<h4>EventSequenceFactoryConfiguration</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateEventSequenceConfig">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PartSize" class="control-label"></label>
                <input asp-for="PartSize" class="form-control" />
                <span asp-validation-for="PartSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="UpdateEventSequenceConfig" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
