﻿@model Dictionary<string, EventBus.Events.ServiceState.State>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

Status page
    <a asp-action="RequestState">Update</a>
@{
    foreach (var state in Model)
    {
        <div>@state.Key: @state.Value</div>
        <br />
    }
}